<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.postgraduate.mapper.TbStudentMapper">
	<select id="selectAll" resultType="com.postgraduate.pojo.TbStudent">
		select * from tb_student
	</select>
	<select id="selectOne" resultType="com.postgraduate.pojo.TbStudent" parameterType="java.lang.Integer">
		select * from tb_student where id = #{id}
	</select>
	<select id="selectPart" resultType="com.postgraduate.pojo.TbStudent" parameterType="com.postgraduate.pojo.TbStudent">
		select * from tb_student
		<where>
			<if test="id != null">
				id like concat(concat("%",#{id}),"%")
			</if>
			<if test="name != null">
				and name like concat(concat("%",#{name}),"%")
			</if>
		</where>
	</select>

</mapper>